name: Auto-merge
on:
  workflow_run:
    workflows: [.NET Build and Test]
    branches: [Release]
    types: [completed]

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write  # Required for push
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0  # Full history for merge/rebase
      
      - name: Merge source branch to main
        run: |
          git checkout main
          git pull origin main
          git checkout "${{ github.event.workflow_run.head_branch }}"
          git checkout main
          git merge "${{ github.event.workflow_run.head_branch }}" --no-ff -m "Auto-merge ${{ github.event.workflow_run.head_branch }} [$(cut -c1-7 ${{ github.event.workflow_run.head_sha }})]"
          git push origin main
