name: Auto-merge
on:
  workflow_run:
    workflows: [".NET Build and Test"]  # имя вашего CI-воркфлоу
    branches: ["Release"]
    types: [completed]

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      - name: Merge to main
        run: |
          git checkout main
          git pull origin main
          git fetch origin
          git checkout -b Release origin/Release
          git pull origin Release
          git merge Release --no-ff -m "Auto-merge from workflow"
          git push origin main
